div#container {
               background-color: white;
               width: 960px;
               margin: 20px auto;
               padding: 40px;
}
 
h1{
               color:maroon;
}
 
img{
               max-height: 300px;
}
 
h2{
               font-size: 300%;
               color: maroon;
               text-align: center;
}